{% extends '::base.html.twig' %}

{% block contenu %}
                                
                                <div class="row">
                                <div id="profil" class="col-lg-9 col-md-8">
                                <h2>Profil</h2>
                                <div id="profilPresentation" class="col-lg-12">
				<h2>Qui suis-je ?</h2>
				<p>Issu d’une formation en Arts Visuels et en Multimédia et passionné par le monde de l’informatique, j’ai toujours fait de la pluridisciplinarité, un des éléments clés de mon parcours. Je cherche aujourd’hui à acquérir une expérience significative et de solides compétences afin de faire aboutir mon projet professionnel : Développeur Web / Concepteur Développeur en projets numériques. Je cherche également à valoriser ma polyvalence et à compléter ma formation en Multimédia et mon apprentissage autodidacte en Développement, par le biais de l’alternance, en troisième année à l’IMIE de Rennes. </p>
                                </div>
                                <!-- End#profilPresentation -->
                                <div id="profilCompetences" class=col-lg-12">
                                    <span class="label label-default">HTML5/CSS3</span> -
                                    <span class="label label-default">JS/JQuery</span> -
                                    <span class="label label-default">PHP/MySQL</span> -
                                    <span class="label label-default">Symfony</span> -
                                    <span class="label label-default">Bootstrap</span> -
                                    <span class="label label-default">Photoshop</span> -
                                    <span class="label label-default">Illustrator</span> -
                                    <a href=""><span class="label label-default">And more ></span></a>
                                </div>
                                <!-- End#profilCompétences -->
                                </div>
                                <div id="menuLateral" class="col-lg-3 col-md-4">
                                <ul class="list-unstyled">
					<li><a href="">Présentation</a></li>
					<li><a href="">Compétences</a></li>
					<li><a href="">Formation</a></li>
					<li><a href="">Expériences</a></li>
					<li><a href="">Intérets</a></li>
				</ul>
                                </div>
                                </div>
                                <div class="row">
                                <div id="timeline" class="col-lg-12 ">
                                    <!-- Affichage graphique d'une timaline interactive -->
					<ul class="list-unstyled list-inline">
                                            <li class="mainlist">
                                                <ul class="list-unstyled">
                                                    <li id="timeline2008" class="listpoint">2008</li>
                                                    <li class="listborder">
                                                        <a href="#">
                                                            <span class="glyphicon glyphicon-book"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mainlist">
                                                <ul class="list-unstyled">
                                                    <li id="timeline2009" class="listpoint">2009-2011</li>
                                                    <li class="listborder">
                                                        <a href="#">
                                                            <span class="glyphicon glyphicon-book"></span>
                                                        </a>
                                                        <a href="">
                                                            <span class="glyphicon glyphicon-briefcase"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mainlist">
                                                <ul class="list-unstyled">
                                                    <li id="timeline2012" class="listpoint">2012</li>
                                                    <li class="listborder">
                                                        <a href="#">
                                                            <span class="glyphicon glyphicon-book"></span>
                                                        </a>
                                                        <a href="">
                                                            <span class="glyphicon glyphicon-briefcase"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mainlist">
                                                <ul class="list-unstyled">
                                                    <li id="timeline2013" class="listpoint">2013-2014</li>
                                                    <li class="listborder">
                                                        <a href="">
                                                            <span class="glyphicon glyphicon-briefcase"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mainlist">
                                                <ul class="list-unstyled">
                                                    <li id="timeline2015" class="listpoint">2015</li>
                                                    <li class="listborder">
                                                        <a href="#">
                                                            <span class="glyphicon glyphicon-book"></span>
                                                        </a>
                                                        <a href="">
                                                            <span class="glyphicon glyphicon-briefcase"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="mainlist">
                                                <ul class="list-unstyled">
                                                    <li id="timelineAll" class="all listpoint">Toutes</li>
                                                    <li class="listborder">
                                                        <a href="#">
                                                            <span class="glyphicon glyphicon-book"></span>
                                                        </a>
                                                        <a href="">
                                                            <span class="glyphicon glyphicon-briefcase"></span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
					</ul>
                                        <div class="bordureTimeline"></div>
                                </div>
                                </div>
                                
                                <div class="row"><div id="profilContent" class="col-lg-12">
				<!-- GRANDES LISTE UL CONTENANT LES DIFFERENTS ELEMENTS DU CV -->
					<ul id="listePrincipale" class="list-unstyled"><li class="sectionListe">
						<!-- Section Formation -->
							<div>
								<h3>Formation</h3>
								<div>
									<h4>2015</h4>
									<p>Rentrée 2015 : Intègre une formation de Concepteur Développeur en Projets Numériques à l'IMIE de Rennes, en troisième année.</p>
								</div>
								<div>
									<h4>2012</h4>
									<p>Maîtrise en Multimédia (sorti Major) - M1 Pro Multimédia / Université de Strasbourg</p>
									<p>Formation professionnalisante basée sur l’audiovisuel, le Web et l’infographie. Travail sur différents projets de courts-métrages, d’animation, de Webdesign, de graphisme et de 3D et sensibilisation à la gestion de projet et à la veille technologique.</p>
								</div>
								<div>
									<h4>2009-2011</h4>
									<p>Licence en Arts Visuels option Infographie / Université de Strasbourg</p>
									<p>Pratique du dessin, théorie des couleurs, histoire de l'art, muséographie, Esthétique, Graphisme 2D</p>
								</div>
								<div>
									<h4>2008</h4>
									<p>Baccalauréat Scientifique option Physique-Chimie</p>
								</div>
							</div>
						</li>
						<li class="sectionListe">
						<!-- Section Expériences -->
							<div>
								<h3>Expériences</h3>
								<div>
									<h4>2015</h4>
									<p>Veille technologique et remise à niveau autodidacte (<a href="">Openclassrooms</a>) sur différents langages de développement, front/back-end.
									<br /> 
									(HTML5/CSS3 – Javascript – PHP/MySQL – Symfony - Bootstrap - LESS – Json)</p>
									<p>Recherche d’emploi et préparation de la rentrée prochaine en vue de mon nouveau départ, de Strasbourg à Rennes.</p>
								</div>
								<div>
									<h4>2013-2014</h4>
									<p>Divers emplois en tant qu’intérimaire, préparateur de commandes, opérateur de saisie, manutentionnaire ou employé viticole en Alsace.
									<br />Dicker SAS, FOSSIL Logisav, Zimmermann & Fils</p>
									<p>Chroniqueur pour l'"Ecole de Scholomance", un Webzine consacré aux musiques alternatives. Ecriture de chroniques et mises en ligne d'articles et d'actualités.</p>
								</div>
								<div>
									<h4>2012</h4>
									<p>Graphiste Multimédia & Webdesigner / Autoentreprise</p>
									<p>Webmaster et Webdesigner / Site associatif
									<br />Webmastering, réalisation d’une galerie vidéo et de contenu Multimédia.
									<br />Drupal – Illustrator – Photoshop</p>
									<p>« Extraordinaire WorldTour 2012»
									<br />Création d’un site internet avec logotype/charte graphique, type carnet de bord et webmastering.
									<br />Wordpress et thème WP – Photoshop – Illustrator
									</p>
								</div>
								<div>
									<h4>2011</h4>
									<p>Nuit de l’info 2011 / Équipe « SCRUMIZ »
									<br />Participation à l’édition 2011 d’un concours à échelle nationale, basé sur l’informatique. 2ème place en méthodologie / 1ère place en Design d’application. 
									<br />Méthode Agile – Photoshop – Illustrator
									</p>
									<p>Mémoire Master 1 /  Projet
									<br />Projet de livre papier interactif avec capteurs, reconnaissance d’images complexes, réalité augmentée et écriture scénaristique uchronique, à choix multiple. 
									<br />D’Fusion – LUA – AS3 – XML
									</p>
								</div>
							</div>
						</li>
                                                <li class="sectionListe">
						<!-- Section Compétences -->
						<!-- Affichage dynamique/graphique de mes compétences -->
							<ul class="list-unstyled">
								<div class="col-lg-12">
                                                                <h3>Compétences</h3>
								<li>
									<h4>Développement Web / Langages</h4>
									<ul class="list-unstyled row">
                                                                            <ul class="list-unstyled col-lg-4 col-md-6">
										<li>HTML5/CSS3</li>
										<li>Javascript/JQuery</li>
										<li>PHP/MySQL</li>
										<li>JSon</li>
                                                                                <li>LESS</li>
                                                                            </ul class="col-lg-4">
                                                                            <ul class="list-unstyled col-lg-4 col-md-6">
                                                                                <li>Bootstrap</li>
										<li>Symfony</li>
										<li>Wordpress</li>
										<li>Joomla</li>
										<li>Drupal</li>
                                                                            </ul>
                                                                            <ul class="list-unstyled col-lg-4 col-md-6">
										<li>XML</li>
										<li>JAVA</li>
										<li>LUA</li>
                                                                                <li>AS3</li>
                                                                            </ul>
									</ul>
								</li>
                                                                </div>
                                                                <div class="col-lg-12">
								<li>
									<h4>Logiciels</h4>
									<ul class="list-unstyled row">
                                                                            <ul class="list-unstyled col-lg-4">
                                                                                <li>Photoshop</li>
										<li>Illustrator</li>
										<li>After Effects</li>
                                                                            </ul>
                                                                            <ul class="list-unstyled col-lg-4">
										<li>Dreamweaver</li>
										<li>Premiere</li>
										<li>Softimage XSI</li>
                                                                            </ul>
                                                                            <ul class="list-unstyled col-lg-4">
										<li>D'Fusion</li>
										<li>Flash</li>
										<li>Isadora</li>
                                                                            </ul>
									</ul>
								</li>
                                                                </div>
                                                                <div class="col-lg-12">
								<li>
									<h4>Langues</h4>
									<ul class="list-unstyled">
										<li>Anglais (CLES B1)</li>
										<li>Allemand</li>
									</ul>
								</li>
                                                                </div>
                                                                <div class="col-lg-12">
								<li>
									<h4>Outils / Systèmes</h4>
                                                                        <ul class="list-unstyled row">
                                                                            <ul class="list-unstyled col-lg-4">
										<li>Windows</li>
										<li>Mac</li>
										<li>Linux</li>
                                                                            </ul>
                                                                            <ul class="list-unstyled col-lg-4">
										<li>MS Office</li>
										<li>Notepad++</li>
										<li>Sublim Text 3</li>
                                                                            </ul>
                                                                            <ul class="list-unstyled col-lg-4">
										<li>Wamp</li>
										<li>Méthode Agile (SCRUM)</li>
                                                                            </ul>
									</ul>
								</li>
                                                                </div>
							</ul>
						</li>
						<li class="sectionListe">
						<!-- Section Intérets -->
							<h3>Interets</h3>
							<ul class="list-unstyled">
								<li>
									<h4>Écriture et Peinture</h4>
									<p>Publication de nouvelles dans un Webzine consacré à la littérature fantastique et un rôle de chroniqueur et de veille pour des albums de musique underground. Lecture assidue et réalisation de toiles à l’acrylique.</p>
								</li>
								<li>
									<h4>Sport</h4>
									<p>La course à pieds et la pratique du football depuis une vingtaine d’années.</p>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<!-- End#profilContent -->
                                </div>
                                <!-- End#row -->
                               

{% endblock %}