{% for menuitems in menufooter %}
<li><span class="glyphicon glyphicon-chevron-right"></span><a href="{{ path(menuitems.path) }}" class="{{ menuitems.class }}">{{ menuitems.titles }}</a></li>
{% endfor %}
<li class="last">
    <a href="#header" class="retourTop">
        <button class="btn btn-primary" type="button">
        Retour Haut 
        <span class="glyphicon glyphicon-circle-arrow-up">
        </span>
        </button>
    </a>
</li>